src/main/java/ch/hegarc/ig/cpo/jaxb/donations.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- TODO - Checker si c'est vraiment ce qu'on veut. J'ai modifié les types -->
  <!-- Généré avec https://www.freeformatter.com/xsd-generator.html -->
  <xs:element name="dataset">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="record" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="id"/>
              <xs:element type="xs:string" name="projet"/>
              <xs:element name="donateurs" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="id"/>
                    <xs:element type="xs:string" name="prenom"/>
                    <xs:element type="xs:string" name="nom"/>
                    <xs:element type="xs:string" name="email"/>
                    <xs:element type="xs:string" name="langue"/>
                    <xs:element type="xs:string" name="adresse"/>
                    <xs:element type="xs:string" name="ville"/>
                    <xs:element type="xs:string" name="monnaie"/>
                    <xs:element type="xs:decimal" name="somme"/>
                    <xs:element type="xs:boolean" name="paye"/>
                    <xs:element type="xs:boolean" name="annule"/>
                    <xs:element type="xs:date" name="dateDon"/>
                    <xs:element type="xs:date" name="dateVersement"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>